# Creating a data table from Arivale for prediction

In [1]:
!ls ../copied_csvs

bp.csv		       mets_t2d.csv	       prots_t2d_full.csv
chems_all.csv	       mets_t2d_full.csv       saliva.csv
chems_subset.csv       mets_t2d_pvals.csv      selected_patient_table.csv
clients.csv	       not_t2d_client_ids.csv  snps.csv
meds.csv	       not_t2d_samples.csv     t2d_client_ids.csv
mets_imputed.csv       prots_not_t2d.csv       t2d_samples.csv
mets_not_t2d.csv       prots_not_t2d_full.csv  weight.csv
mets_not_t2d_full.csv  prots_subset.csv
mets_subset.csv        prots_t2d.csv

## 1. Load data, preprocessing

In [2]:
import numpy as np
import pandas as pd

In [3]:
chems = pd.read_csv('../copied_csvs/chems_all.csv', index_col=0, dtype={'public_client_id': np.str_})
clients = pd.read_csv('../copied_csvs/clients.csv', index_col=0, dtype={'public_client_id': np.str_})
bp = pd.read_csv('../copied_csvs/bp.csv', index_col=0, dtype={'public_client_id': np.str_})
weight = pd.read_csv('../copied_csvs/weight.csv', index_col=0, dtype={'public_client_id': np.str_})
meds = pd.read_csv('../copied_csvs/meds.csv', index_col=0, dtype={'public_client_id': np.str_})

In [4]:
prots_t2d = pd.read_csv('../copied_csvs/prots_t2d.csv', index_col=0,
                       dtype={'public_client_id':np.str_})
prots_not_t2d = pd.read_csv('../copied_csvs/prots_not_t2d.csv', index_col=0,
                            dtype={'public_client_id':np.str_})
prots_all = pd.concat([prots_t2d, prots_not_t2d])
# we want to keep at least one is_t2d column.

In [5]:
mets_t2d = pd.read_csv('../copied_csvs/mets_t2d.csv', index_col=0,
                       dtype={'public_client_id':np.str_})
mets_not_t2d = pd.read_csv('../copied_csvs/mets_not_t2d.csv', index_col=0,
                            dtype={'public_client_id':np.str_})
mets_all = pd.concat([mets_t2d, mets_not_t2d])
if 'is_t2d' in mets_all.columns:
    del mets_all['is_t2d']

In [6]:
samples_t2d = pd.read_csv('../copied_csvs/t2d_samples.csv', index_col=0,
                       dtype={'public_client_id':np.str_})
samples_t2d = pd.read_csv('../copied_csvs/not_t2d_samples.csv', index_col=0,
                            dtype={'public_client_id':np.str_})
samples_all = pd.concat([samples_t2d, samples_t2d])

/tmp/ipykernel_902511/1413789103.py:3: DtypeWarning: Columns (271,2116,2118,2119,2120,2122,2124,2130,2131,2133,2134,2143,2144,2147,2148,2150,2154,2155,2156,2161,2166,2167,2168,2169,2170,2173,2174,2176,2179,2180,2182,2183,2185,2187,2198,2199,2203,2204,2205,2206,2207,2211,2213,2217,2219,2220,2221,2222,2223,2224,2225,2337,2338,2341,2342,2343,2346,2347,2349,2350,2351,2353,2354,2355,2356,2357,2358,2361,2362,2364,2368,2370,2371,2374,2375,2376,2379,2380,2381,2382,2385,2386,2387,2390,2391,2392,2393,2396,2397,2398,2401,2402,2403,2404,2413,2414,2415,2418,2419,2420,2423,2424,2425,2426,2429,2430,2431,2434,2435,2440,2459,2468,2469,2471,2474,2496,2515,2524,2525,2527,2530,2664,2683,2692,2693,2695,2698,2720,2739,2748,2749,2751,2754,2776,2795,2804,2805,2807,2810,2940,2941,2942,2943,2944,2945,2946,2947,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957,2958,2959,2960,2961,2962,2963,2964,2965,2966,2967,2968,2969,2970,2971,2972,2973,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983,2984,2985,2986,2987,2988,2989,2990,2991,2992,2993,2994,2995,3000,3019,3028,3029,3031,3034,3187,3198,3209,3220,3231,3253,3264,3275,3286,3300,3301,3303,3304,3306,3327,3345,3348,3351,3356,3358,3384,3415,3416,3417,3418,3419,3420,3421,3472,3473,3474,3483,3484,3485,3486,3487,3488,3489,3490) have mixed types. Specify dtype option on import or set low_memory=False.
  samples_t2d = pd.read_csv('../copied_csvs/not_t2d_samples.csv', index_col=0,

### Analysis of questionnaires and medications

In [7]:
diabetes_type2_current = 'assessment:health-history:cardiometabolic_type2_diabetes:self_current'
samples_all[diabetes_type2_current]
samples_all['is_t2d'] = samples_all[diabetes_type2_current]

/tmp/ipykernel_902511/2778634749.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  samples_all['is_t2d'] = samples_all[diabetes_type2_current]

In [8]:
samples_all['is_t1d'] = samples_all['assessment:health-history:autoimmune_type1_diabetes:self_current']

/tmp/ipykernel_902511/661117527.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  samples_all['is_t1d'] = samples_all['assessment:health-history:autoimmune_type1_diabetes:self_current']

In [9]:
samples_all['assessment:health-history:cancer_basal_cell_carcinoma:self_current']
samples_all['assessment:health-history:cardiometabolic_metabolic_syndrome:self_current']
samples_all['assessment:health-history:cardiovascular_hypertension:self_current']
samples_all['assessment:health-history:bladder_kidney_kidney_disease:self_current']

0        False
1          NaN
2        False
3          NaN
4        False
         ...
11880    False
11881      NaN
11882    False
11883    False
11884    False
Name: assessment:health-history:bladder_kidney_kidney_disease:self_current, Length: 23344, dtype: object

In [10]:
samples_all.columns[['med' in x for x in samples_all.columns]]

Index(['assessment:digestion:medications:enum',
       'assessment:health-history:over_the_counter_medication_use:int',
       'assessment:health-history:prescription_medication_use_yes_no:int',
       'assessment:journey:daily_medical_support:int',
       'assessments:journey:medical_treatment',
       'assessment_health_history_prescription_medication_use_yes_no_int',
       'assessment_health_history_over_the_counter_medication_use_int',
       'meds_cholesterol', 'meds_blood_sugar', 'meds_blood_pressure',
       'meds_antibiotics_last_3_months'],
      dtype='object')

In [11]:
samples_all['meds_blood_sugar'].unique()

array(['No', nan, 'Yes'], dtype=object)

In [12]:
samples_all['meds_blood_pressure'].unique()

array(['Yes', nan, 'No'], dtype=object)

In [13]:
# TODO: identify clients that are on diabetes medication
# unfortunately, the data does not seem to show medication start times.
# diabetes drugs:
# - insulin
# - metformin
# - pioglitazone (thiazolidinediones )
# - dulaglutide, liraglutide, exenatide  (GLP-1 agonists)
# - canagliflozin (SGLT2 inhibitors)
# - glyburide, glipizide (Sulfonylureas)
# - pioglitazone

### Removing duplicates

In [14]:
chems = chems.sort_values(['public_client_id', 'days_in_program'])
print(chems.shape)

(11167, 140)

In [15]:
bp.index = pd.MultiIndex.from_frame(bp[['public_client_id', 'days_in_program']])
bp = bp[~bp.index.duplicated(keep='first')]

chems.index = pd.MultiIndex.from_frame(chems[['public_client_id', 'days_in_program']])
chems = chems[~chems.index.duplicated(keep='first')]

weight.index = pd.MultiIndex.from_frame(weight[['public_client_id', 'days_in_program']])
weight = weight[~weight.index.duplicated(keep='first')]

prots_all.index = pd.MultiIndex.from_frame(prots_all[['public_client_id', 'days_in_program']])
prots_all = prots_all[~prots_all.index.duplicated(keep='first')]

mets_all.index = pd.MultiIndex.from_frame(mets_all[['public_client_id', 'days_in_program']])
mets_all = mets_all[~mets_all.index.duplicated(keep='first')]

In [16]:
samples_all.index = pd.MultiIndex.from_frame(samples_all[['public_client_id', 'days_in_program']])
samples_all = samples_all[~samples_all.index.duplicated(keep='first')]

In [17]:
print(chems.shape)

(11167, 140)

### Generating a prev/next field for chems

In [18]:
chems['days_since_previous'] = [0]*len(chems)
chems['days_til_next'] = [0]*len(chems)

chems_selected = ['HbA1C', 'GFR', 'GLUCOSE', 'INSULIN', 'HOMA-IR']
chems_to_column = {
    'HbA1C': 'GLYCOHEMOGLOBIN A1C',
    'GFR': 'GFR, MDRD',
    'GLUCOSE': 'GLUCOSE',
    'INSULIN': 'INSULIN',
    'HOMA-IR': 'HOMA-IR'
}

for c in chems_selected:
    chems['d_'+c] = [0]*len(chems)
    chems['prev_'+c] = [0]*len(chems)
    chems['next_'+c] = [0]*len(chems)

In [19]:
current_id = None
prev_time = 0
prev_chems = {c: 0 for c in chems_selected}
prev_glucose = 0
prev_hba1c = 0
prev_gfr = 0
for i, (index, row) in enumerate(chems.iterrows()):
    if row.public_client_id != current_id:
        current_id = row.public_client_id
    else:
        chems.loc[index, 'days_since_previous'] = row.days_in_program - prev_time
        for c in chems_selected:
            chems.loc[index, 'prev_' + c] = prev_chems[c]
    prev_time = row.days_in_program
    for c in chems_selected:
        prev_chems[c] = row[chems_to_column[c]]
    if i < len(chems) - 1:
        next_row = chems.iloc[i+1]
        if next_row.public_client_id == current_id:
            chems.loc[index, 'days_til_next'] = next_row.days_in_program - prev_time
            for c in chems_selected:
                chems.loc[index, 'next_' + c] = next_row[chems_to_column[c]]
                chems.loc[index, 'd_' + c] = next_row[chems_to_column[c]] - row[chems_to_column[c]]

#### Generating longer-term differences (1 year, 2 years, etc)

In [20]:
chems['days_til_next_1y'] = [0]*len(chems)
chems['days_til_next_2y'] = [0]*len(chems)

for c in chems_selected:
    chems['next_1y_'+c] = [np.nan]*len(chems)
    chems['d_1y_'+c] = [np.nan]*len(chems)
    chems['next_2y_'+c] = [np.nan]*len(chems)
    chems['d_2y_'+c] = [np.nan]*len(chems)

In [21]:
current_id = None
prev_time = 0
for i, (index, row) in enumerate(chems.iterrows()):
    if row.public_client_id != current_id:
        current_id = row.public_client_id
    prev_time = row.days_in_program
    j = i + 1
    while j < len(chems) - 1:
        next_row = chems.iloc[j]
        if next_row.public_client_id == current_id:
            days_til_next = next_row.days_in_program - prev_time
            if days_til_next < 420 and days_til_next > 300:
                chems.loc[index, 'days_til_next_1y'] = days_til_next
                for c in chems_selected:
                    chems.loc[index, 'next_1y_' + c] = next_row[chems_to_column[c]]
                    chems.loc[index, 'd_1y_' + c] = next_row[chems_to_column[c]] - row[chems_to_column[c]]
            if days_til_next > 660 and days_til_next < 780:
                chems.loc[index, 'days_til_next_2y'] = days_til_next
                for c in chems_selected:
                    chems.loc[index, 'next_2y_' + c] = next_row[chems_to_column[c]]
                    chems.loc[index, 'd_2y_' + c] = next_row[chems_to_column[c]] - row[chems_to_column[c]]
            j += 1
        else:
            break

In [22]:
print((~chems['next_1y_GFR'].isna()).sum(), (~chems['next_2y_GFR'].isna()).sum())

2407 695

## 2. Creating a combined clinical-metabolomic-proteomic table

In [23]:
combined_table_mets = pd.concat([mets_all, prots_all, chems], axis=1)

In [24]:
combined_table_mets_filtered = combined_table_mets[~combined_table_mets['public_client_id'].isna().any(1)]

/tmp/ipykernel_902511/4081420276.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  combined_table_mets_filtered = combined_table_mets[~combined_table_mets['public_client_id'].isna().any(1)]

In [25]:
combined_table_mets_filtered = combined_table_mets_filtered.loc[:, ~combined_table_mets_filtered.columns.duplicated()]

In [26]:
combined_table_mets_filtered.shape

(3182, 1170)

In [27]:
# TODO: this messes up the dtypes
combined_table_mets_filtered = combined_table_mets_filtered.T.drop_duplicates(keep='first').T
combined_table_mets_filtered = combined_table_mets_filtered.infer_objects()

In [28]:
combined_table_mets_filtered.shape

(3182, 1170)

In [29]:
combined_table_mets_filtered = combined_table_mets_filtered.sort_index()

### Adding additional fields to the table - age, weight, meds, etc

In [30]:
# TODO: add meds_blood_sugar as a feature
samples_all.index = samples_all.public_client_id
weight.index = weight.public_client_id

In [31]:
def get_nearest_index(df, col, val):
    "Gets the nearest index to the val, given a df sorted by col."
    min_distance = np.inf
    best_index = None
    best_row = None
    for index, row in df.iterrows():
        distance = np.abs(row[col] - val)
        if distance < min_distance:
            min_distance = distance
            best_index = index
            best_row = row
        else:
            if best_index is not None:
                return best_index, best_row
    return best_index, best_row

In [32]:
clients.index = clients.public_client_id
combined_table_mets_filtered = combined_table_mets_filtered.copy()
combined_table_mets_filtered['age'] = np.zeros(combined_table_mets_filtered.shape[0]) + np.nan
combined_table_mets_filtered['is_m'] = np.zeros(combined_table_mets_filtered.shape[0]) + np.nan
combined_table_mets_filtered['weight'] = np.zeros(combined_table_mets_filtered.shape[0]) + np.nan
combined_table_mets_filtered['height'] = np.zeros(combined_table_mets_filtered.shape[0]) + np.nan
combined_table_mets_filtered['bmi'] = np.zeros(combined_table_mets_filtered.shape[0]) + np.nan
combined_table_mets_filtered['meds_blood_sugar'] = np.zeros(combined_table_mets_filtered.shape[0]) + np.nan


for i, row in combined_table_mets_filtered.iterrows():
    # ci is client id
    ci = i[0]
    days = i[1]
    try:
        combined_table_mets_filtered.loc[i,'age'] = clients.loc[ci].age
        combined_table_mets_filtered.loc[i,'is_m'] = int(clients.loc[ci].sex == 'M')
    except:
        print('age not available for', ci)
    try:
        weights_subset = weight.loc[ci]
        if isinstance(weights_subset, pd.DataFrame):
            weight_index, weight_row = get_nearest_index(weights_subset, 'days_in_program', days)
        else:
            weight_row = weights_subset
        combined_table_mets_filtered.loc[i,'weight'] = weight_row.WEIGHT_CALC
        combined_table_mets_filtered.loc[i,'height'] = weight_row.HEIGHT_CALC
        combined_table_mets_filtered.loc[i,'bmi'] = weight_row.BMI_CALC
    except:
        print('weights not available for', ci)
    try:
        samples_subset = samples_all.loc[ci]
        if isinstance(samples_subset, pd.DataFrame):
            sample_index, sample_row = get_nearest_index(samples_subset, 'days_in_program', days)
            combined_table_mets_filtered.loc[i,'meds_blood_sugar'] = sample_row.meds_blood_sugar
        else:
            combined_table_mets_filtered.loc[i,'meds_blood_sugar'] = samples_subset.meds_blood_sugar
    except:
        print('sample questionnaires not available for', ci)

age not available for 01000261
sample questionnaires not available for 01021265
weights not available for 01029483
weights not available for 01029483
weights not available for 01029483
sample questionnaires not available for 01036226
age not available for 01037794
age not available for 01039674
age not available for 01049319
age not available for 01051690
age not available for 01053293
age not available for 01059410
sample questionnaires not available for 01066842
sample questionnaires not available for 01067542
sample questionnaires not available for 01067542
sample questionnaires not available for 01067542
age not available for 01071744
age not available for 01090838
age not available for 01097466
age not available for 01111951
age not available for 01112253
age not available for 01112759
age not available for 01116375
age not available for 01131110
age not available for 01136823
age not available for 01140627
age not available for 01148961
age not available for 01156139
age not available for 01175699
age not available for 01175898
age not available for 01188029
sample questionnaires not available for 01196562
sample questionnaires not available for 01196748
age not available for 01197738
age not available for 01198512
age not available for 01203155
sample questionnaires not available for 01218819
age not available for 01221916
sample questionnaires not available for 01227294
age not available for 01231028
age not available for 01231675
age not available for 01240903
age not available for 01252086
age not available for 01252217
age not available for 01265137
age not available for 01267502
age not available for 01269807
age not available for 01270545
age not available for 01305044
age not available for 01311886
age not available for 01312867
sample questionnaires not available for 01318417
weights not available for 01321059
weights not available for 01321059
age not available for 01348686
age not available for 01354181
weights not available for 01390463
age not available for 01404534
age not available for 01415692
age not available for 01417908
age not available for 01424474
age not available for 01430305
sample questionnaires not available for 01432894
age not available for 01436412
age not available for 01446281
age not available for 01460947
sample questionnaires not available for 01474725
age not available for 01485831
age not available for 01491251
age not available for 01495427
age not available for 01505930
sample questionnaires not available for 01515817
age not available for 01525318
sample questionnaires not available for 01525398
age not available for 01527474
age not available for 01528743
sample questionnaires not available for 01543126
sample questionnaires not available for 01543273
age not available for 01557186
age not available for 01560701
age not available for 01568735
age not available for 01590591
age not available for 01597992
age not available for 01602738
age not available for 01615335
age not available for 01618096
age not available for 01619196
age not available for 01631142
age not available for 01637539
age not available for 01643977
age not available for 01645313
age not available for 01661023
sample questionnaires not available for 01670861
age not available for 01690940
age not available for 01721794
age not available for 01762101
age not available for 01767960
age not available for 01784335
sample questionnaires not available for 01789415
age not available for 01792536
age not available for 01792854
age not available for 01806768
age not available for 01809143
age not available for 01814463
age not available for 01830211
age not available for 01836299
age not available for 01837890
sample questionnaires not available for 01840056
sample questionnaires not available for 01848354
age not available for 01856718
sample questionnaires not available for 01857729
age not available for 01859624
age not available for 01865363
age not available for 01867038
age not available for 01869746
age not available for 01891006
age not available for 01892563
age not available for 01895250
age not available for 01895520
age not available for 01904899
age not available for 01908194
age not available for 01909375
age not available for 01933661
age not available for 01941928
age not available for 01976883
age not available for 01993245
age not available for 01994749
age not available for 01997336
age not available for INEW

In [33]:
combined_table_mets_filtered

                                 public_client_id      sample_id  \
public_client_id days_in_program
01000261         65                      01000261  A477AV558-002
01001621         11                      01001621  A776BI445-003
                 265                     01001621  A391BM948-002
01002183         13                      01002183  A595AV320-002
01002412         13                      01002412  A294AU415-002
...                                           ...            ...
HX344502         25                      HX344502  A392BL829-002
HX409129         5                       HX409129  A581BK409-002
HX460562         28                      HX460562  A641BO324-003
HX794171         56                      HX794171  A229BM682-002
INEW             149                         INEW  A750AX220-002

                                  days_in_program  days_since_first_call  \
public_client_id days_in_program
01000261         65                          65.0                   -9.0
01001621         11                          11.0                  -31.0
                 265                        265.0                  223.0
01002183         13                          13.0                   -1.0
01002412         13                          13.0                   -6.0
...                                           ...                    ...
HX344502         25                          25.0                   21.0
HX409129         5                            5.0                    2.0
HX460562         28                          28.0                    7.0
HX794171         56                          56.0                  -17.0
INEW             149                        149.0                  106.0

                                  days_since_first_draw month weekday  season  \
public_client_id days_in_program
01000261         65                                 0.0   Jan     Tue  winter
01001621         11                                 0.0   Jul     Mon  summer
                 265                              254.0   Apr     Wed  spring
01002183         13                                 0.0   Jan     Wed  winter
01002412         13                                 0.0   Nov     Thu    fall
...                                                 ...   ...     ...     ...
HX344502         25                                 0.0   Feb     Fri  winter
HX409129         5                                  0.0   Dec     Fri  winter
HX460562         28                                 0.0   Aug     Thu  summer
HX794171         56                                 0.0   Mar     Fri  spring
INEW             149                              142.0   Mar     Fri  spring

                                        55        93  ...  next_1y_HOMA-IR  \
public_client_id days_in_program                      ...
01000261         65               1.155771  0.947589  ...              NaN
01001621         11               1.328050  1.366908  ...              NaN
                 265              0.619724  1.334809  ...              NaN
01002183         13               0.425073  0.850577  ...         2.040741
01002412         13               1.008430  0.877139  ...              NaN
...                                    ...       ...  ...              ...
HX344502         25               1.378031  1.017652  ...              NaN
HX409129         5                2.116840       NaN  ...         1.044938
HX460562         28               1.731506  0.804149  ...              NaN
HX794171         56               0.660610       NaN  ...              NaN
INEW             149              1.635473  0.826271  ...              NaN

                                  d_1y_HOMA-IR  next_2y_HOMA-IR  d_2y_HOMA-IR  \
public_client_id days_in_program
01000261         65                        NaN              NaN           NaN
01001621         11                        NaN              NaN           NaN
                 265                       NaN              NaN           NaN
01002183         13                  -0.751852         1.622222      -1.17037
01002412         13                        NaN              NaN           NaN
...                                        ...              ...           ...
HX344502         25                        NaN              NaN           NaN
HX409129         5                    0.184938              NaN           NaN
HX460562         28                        NaN              NaN           NaN
HX794171         56                        NaN              NaN           NaN
INEW             149                       NaN              NaN           NaN

                                   age  is_m  weight  height        bmi  \
public_client_id days_in_program
01000261         65                NaN   NaN   142.0    66.0  22.916896
01001621         11               54.0   0.0   140.0    65.0  23.294675
                 265              54.0   0.0   140.0    65.0  23.294675
01002183         13               68.0   0.0   128.0    65.0  21.297988
01002412         13               52.0   0.0   135.0    63.0  23.911565
...                                ...   ...     ...     ...        ...
HX344502         25               44.0   0.0   175.4    60.5  33.687917
HX409129         5                47.0   0.0   179.4    64.0  30.790576
HX460562         28               48.0   0.0   330.0    68.0  50.170848
HX794171         56               37.0   1.0   245.7    72.0  33.319271
INEW             149               NaN   NaN   196.2    69.0  28.970510

                                  meds_blood_sugar
public_client_id days_in_program
01000261         65                             No
01001621         11                             No
                 265                            No
01002183         13                             No
01002412         13                             No
...                                            ...
HX344502         25                             No
HX409129         5                              No
HX460562         28                             No
HX794171         56                             No
INEW             149                            No

[3182 rows x 1176 columns]

In [34]:
combined_table_mets_filtered[['GLYCOHEMOGLOBIN A1C', 'next_HbA1C', 'd_HbA1C']]

                                  GLYCOHEMOGLOBIN A1C  next_HbA1C  d_HbA1C
public_client_id days_in_program
01000261         65                               5.1         5.5      0.4
01001621         11                               5.6         5.5     -0.1
                 265                              5.5         0.0      0.0
01002183         13                               5.3         5.7      0.4
01002412         13                               4.8         5.2      0.4
...                                               ...         ...      ...
HX344502         25                               5.2         0.0      0.0
HX409129         5                                5.3         5.3      0.0
HX460562         28                               6.1         5.8     -0.3
HX794171         56                               5.2         0.0      0.0
INEW             149                              5.4         0.0      0.0

[3182 rows x 3 columns]

In [35]:
(combined_table_mets_filtered.next_HbA1C == 0).sum()

629

In [36]:
(combined_table_mets_filtered.next_HbA1C.isna()).sum()

19

In [37]:
(combined_table_mets_filtered.next_GLUCOSE.isna()).sum()

17

### Averaging duplicated protein columns - if protein columns are duplicated across sets, average them.

In [38]:
prot_names = pd.read_csv('../arivale_data/arivale_prots.tsv', sep='\t')
gene_names = prot_names.groupby('gene_name')['index'].unique()
duplicate_gene_names = gene_names[gene_names.map(len) > 1]
combined_table_mets_prots = combined_table_mets_filtered.copy()
for index, ids in duplicate_gene_names.items():
    table_ids = [i for i in combined_table_mets_filtered.columns if i in ids]
    if len(table_ids) > 1:
        print(index, table_ids)
        print(combined_table_mets_filtered[table_ids].corr())
        table_mean = combined_table_mets_filtered[table_ids].mean(axis=1, skipna=True)
        combined_table_mets_prots[table_ids[0]] = table_mean
        combined_table_mets_prots = combined_table_mets_prots.drop(table_ids[1:], axis=1)

CCL2 ['CVD3_P13500', 'INF_P13500']
             CVD3_P13500  INF_P13500
CVD3_P13500     1.000000    0.714038
INF_P13500      0.714038    1.000000
CCL3 ['CVD2_P10147', 'INF_P10147']
             CVD2_P10147  INF_P10147
CVD2_P10147     1.000000    0.905243
INF_P10147      0.905243    1.000000
CXCL1 ['CVD2_P09341', 'INF_P09341']
             CVD2_P09341  INF_P09341
CVD2_P09341     1.000000    0.949313
INF_P09341      0.949313    1.000000
FGF21 ['CVD2_Q9NSA1', 'INF_Q9NSA1']
             CVD2_Q9NSA1  INF_Q9NSA1
CVD2_Q9NSA1     1.000000    0.974045
INF_Q9NSA1      0.974045    1.000000
FGF23 ['CVD2_Q9GZV9', 'INF_Q9GZV9']
             CVD2_Q9GZV9  INF_Q9GZV9
CVD2_Q9GZV9     1.000000    0.853413
INF_Q9GZV9      0.853413    1.000000
IL18 ['CVD2_Q14116', 'INF_Q14116']
             CVD2_Q14116  INF_Q14116
CVD2_Q14116     1.000000    0.705567
INF_Q14116      0.705567    1.000000
IL6 ['CVD2_P05231', 'INF_P05231']
             CVD2_P05231  INF_P05231
CVD2_P05231     1.000000    0.956517
INF_P05231      0.956517    1.000000
KITLG ['CVD2_P21583', 'INF_P21583']
             CVD2_P21583  INF_P21583
CVD2_P21583     1.000000    0.851202
INF_P21583      0.851202    1.000000
PLAU ['CVD3_P00749', 'INF_P00749']
             CVD3_P00749  INF_P00749
CVD3_P00749     1.000000    0.591127
INF_P00749      0.591127    1.000000
TNFRSF11B ['CVD3_O00300', 'INF_O00300']
             CVD3_O00300  INF_O00300
CVD3_O00300     1.000000    0.755125
INF_O00300      0.755125    1.000000

In [39]:
print(combined_table_mets_prots.shape)

(3182, 1166)

### Taking only the first time point

In [40]:
#  try taking only the first patient?
first_items = []
prev_client = None
for c in combined_table_mets_prots.public_client_id:
    if c == prev_client:
        first_items.append(False)
    else:
        prev_client = c
        first_items.append(True)
first_items = np.array(first_items)

combined_table_mets_filtered_first_items = combined_table_mets_prots[first_items]

In [41]:
print(combined_table_mets_filtered_first_items.shape)

(2008, 1166)

### Filtering columns by NaNs, selecting columns to use

1. remove rows that have missing next-time-point values
2. identify -omics/clinical columns that have less than 10% missingness, select these columns to use for further analysis

In [42]:
combined_table_mets_filtered_1 = combined_table_mets_filtered_first_items[(combined_table_mets_filtered_first_items.next_HbA1C != 0) &\
                                                (combined_table_mets_filtered_first_items.next_GFR != 0) &\
                                                (combined_table_mets_filtered_first_items.next_GLUCOSE != 0) &\
                                                (combined_table_mets_filtered_first_items.next_INSULIN != 0) &\
                                                (~combined_table_mets_filtered_first_items.next_HbA1C.isna()) &\
                                                (~combined_table_mets_filtered_first_items.next_GFR.isna()) &\
                                                (~combined_table_mets_filtered_first_items.next_GLUCOSE.isna()) &\
                                                (~combined_table_mets_filtered_first_items.next_INSULIN.isna())]

In [43]:
for chem, col_name in chems_to_column.items():
    combined_table_mets_filtered_1 = combined_table_mets_filtered_1[~combined_table_mets_filtered_1[col_name].isna()]

In [44]:
print(combined_table_mets_filtered_1.shape)

(1705, 1166)

In [45]:
na_counts = combined_table_mets_filtered_1.isna().sum(0)

Cutofff of 10% missingness for columns

In [46]:
less_than_10 = (na_counts < combined_table_mets_filtered_1.shape[0]*0.1) & (combined_table_mets_filtered_1.dtypes == np.float64)

In [47]:
is_next = combined_table_mets_filtered_1.columns.str.contains('d_') |\
          combined_table_mets_filtered_1.columns.str.contains('next_')| \
          combined_table_mets_filtered_1.columns.str.contains('prev_')

In [48]:
selected_columns_full = combined_table_mets_filtered_1.columns[less_than_10 & ~is_next].to_numpy()
columns_to_exclude = set(['client_id', 'days_til_next', 'days_since_previous', 'days_til_next_1y', 'days_til_next_2y',
                          'observation_id', 'days_in_program',
                          'days_since_first_call', 'days_since_first_draw'])
selected_columns_full = np.array([x for x in selected_columns_full if x not in columns_to_exclude])

In [49]:
selected_chem_bp_cols = [x for x in selected_columns_full if x in chems.columns or x in bp.columns or x in ['age', 'is_m', 'bmi', 'meds_blood_sugar'] or x in weight.columns]

print('number of total clinical columns:', len(selected_chem_bp_cols))

number of total clinical columns: 70

In [50]:
print(selected_chem_bp_cols)

['A/G RATIO', 'ADIPONECTIN, SERUM', 'ALAT (SGPT)', 'ALBUMIN', 'ALKALINE PHOSPHATASE', 'ARACHIDONIC ACID', 'ASAT (SGOT)', 'BASOPHILS', 'BASOPHILS ABSOLUTE', 'BILIRUBIN, TOTAL', 'BUN/CREAT RATIO', 'CALCIUM', 'CARBON DIOXIDE (CO2)', 'CHLORIDE', 'CHOLESTEROL, TOTAL', 'CREATININE ENZ, SER', 'CRP HIGH SENSITIVITY', 'DHA', 'EOSINOPHILS', 'EOSINOPHILS ABSOLUTE', 'EPA', 'FERRITIN', 'FOLIC ACID, SERUM', 'GFR, MDRD', 'GGT', 'GLOBULIN', 'GLUCOSE', 'GLYCOHEMOGLOBIN A1C', 'HDL CHOL DIRECT', 'HEMATOCRIT', 'HEMOGLOBIN', 'HOMA-IR', 'HOMOCYSTEINE, SERUM', 'IL-6', 'IL-8', 'INSULIN', 'LDL PARTICLE NUMBER', 'LDL SMALL', 'LDL-CHOL CALCULATION', 'LEAD, BLOOD', 'LYMPHOCYTES', 'LYMPHOCYTES ABSOLUTE', 'MCH', 'MCHC', 'MCV', 'MERCURY, BLOOD', 'METHYLMALONIC ACID', 'MONOCYTES', 'MONOCYTES ABSOLUTE', 'OMEGA-3 INDEX', 'OMEGA-6/OMEGA-3 RATIO', 'PLATELET COUNT THOUSAND', 'POTASSIUM', 'PROTEIN, TOTAL SERUM', 'RDW', 'RED CELL COUNT', 'SODIUM', 'TNF-ALPHA', 'TOTAL NEUTROPHILS', 'TOTAL NEUTROPHILS AB', 'TRIGLYCERIDES', 'Triglyceride HDL Ratio', 'UREA NITROGEN', 'URIC ACID', 'VITAMIN D, 25-OH TOT', 'WHITE CELL COUNT', 'ZINC', 'age', 'is_m', 'bmi']

In [51]:
selected_chems_only = [x for x in selected_columns_full if x in chems.columns]

In [52]:
chem_subset_cols = ['INSULIN', 'GLUCOSE', 'GLYCOHEMOGLOBIN A1C', 'GFR, MDRD',
                  'ALBUMIN', 'CREATININE ENZ, SER',
                  'HDL CHOL DIRECT', 'HEMATOCRIT', 'HEMOGLOBIN', 'LDL-CHOL CALCULATION', 'TRIGLYCERIDES',
                  'MEAN_ARTERIAL_BLOOD_PRESSURE', 'PULSE_PRESSURE', 'diastolic', 'systolic',
                  'age', 'is_m', 'meds_blood_sugar', 'bmi']
chem_subset_cols = [x for x in chem_subset_cols if x in selected_columns_full]
print('number of selected clinical columns:', len(chem_subset_cols))
print(chem_subset_cols)

number of selected clinical columns: 14
['INSULIN', 'GLUCOSE', 'GLYCOHEMOGLOBIN A1C', 'GFR, MDRD', 'ALBUMIN', 'CREATININE ENZ, SER', 'HDL CHOL DIRECT', 'HEMATOCRIT', 'HEMOGLOBIN', 'LDL-CHOL CALCULATION', 'TRIGLYCERIDES', 'age', 'is_m', 'bmi']

Somewhat arbitrarily, we're only including proteins with less than 5 missing values. This is different from clinical variables because of the different distributions of missing-ness; having a more stringent missingness threshold will remove a lot of clinical variables that we want to include, and will also remove too many metabolites.

In [53]:
less_than_5 = (na_counts < 5)

In [54]:
selected_prot_cols = [x for x in selected_columns_full if x in prots_all.columns and less_than_5[x]]
print('number of protein columns:', len(selected_prot_cols))

number of protein columns: 262

In [55]:
selected_met_cols = [x for x in selected_columns_full if x in mets_all.columns]
print('number of metabolite columns:', len(selected_met_cols))

number of metabolite columns: 710

In [56]:
selected_columns_full = selected_chem_bp_cols + selected_prot_cols + selected_met_cols

In [57]:
print('number of total columns:', len(selected_columns_full))

number of total columns: 1042

### Remove rows that have NaN values for chems, set metabolites with NaNs to 0

try: setting missing metabolites to the median, remove rows with missing chems.

In [58]:
combined_table_mets_filtered_1['bmi'].isna().sum()

103

In [59]:
chem_has_na = combined_table_mets_filtered_1[selected_chem_bp_cols].isna().sum(1)
met_has_na = combined_table_mets_filtered_1[selected_met_cols].isna().sum(1)
prot_has_na = combined_table_mets_filtered_1[selected_prot_cols].isna().sum(1)
has_na = chem_has_na + met_has_na + prot_has_na

nans_above_threshold = (has_na > combined_table_mets_filtered_1.shape[0]*0.1)
print('# of samples with nans > 10%:', nans_above_threshold.sum())

print('# of samples with missing clinical var:', sum(chem_has_na > 0))

print('# of samples with missing protein:', sum(prot_has_na > 0))

# only remove the chem and prot NaN rows, set the met NaN rows to 0
combined_table_mets_filtered_2 = combined_table_mets_filtered_1[(~nans_above_threshold) & (chem_has_na == 0) & (prot_has_na == 0)]

combined_table_mets_set_medians = combined_table_mets_filtered_2.copy()


print('shape after removing values with missing chems/prots:', combined_table_mets_filtered_2.shape)

# of samples with nans > 10%: 14
# of samples with missing clinical var: 449
# of samples with missing protein: 9
shape after removing values with missing chems/prots: (1241, 1166)

### Filter by time interval between samples

In [60]:
combined_table_mets_filtered_times = combined_table_mets_filtered_2[\
                                                                (combined_table_mets_filtered_2.days_til_next < 270) \
                                                                & (combined_table_mets_filtered_2.days_til_next > 90)]
print(combined_table_mets_filtered_times.shape)

(1149, 1166)

In [61]:
combined_table_mets_set_zeros = combined_table_mets_filtered_times.copy()
combined_table_mets_set_zeros[selected_met_cols] = combined_table_mets_set_zeros[selected_met_cols].fillna(0)
combined_table_mets_set_zeros[selected_prot_cols] = combined_table_mets_set_zeros[selected_prot_cols].fillna(0)

### Imputation for metabolites using missforest

In [62]:
import os
from missingpy import MissForest
import warnings
warnings.filterwarnings("ignore")

imputer = MissForest(max_iter=5, decreasing=False, missing_values=np.nan,
                     copy=True, criterion=('squared_error', 'gini'),
                     max_depth=15, min_samples_split=2, min_samples_leaf=1,
                     min_weight_fraction_leaf=0.0,
                     max_leaf_nodes=None, min_impurity_decrease=0.0,
                     bootstrap=True, oob_score=False, n_jobs=-1,
                     verbose=0, warm_start=True, class_weight=None,
                     max_features=1)

data_selected_cols = combined_table_mets_filtered_times[selected_met_cols]

imputed = imputer.fit_transform(data_selected_cols)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [63]:
combined_table_mets_imputed = combined_table_mets_filtered_times.copy()

In [64]:
#if not os.path.exists('clinical_multiomics_combined_data_imputed.csv'):
data_selected_cols[:] = imputed
#else:
#    data_selected_cols = pd.read_csv('clinical_multiomics_combined_data_imputed.csv')
combined_table_mets_imputed[selected_met_cols] = data_selected_cols.values

In [65]:
combined_table_mets_imputed.shape

(1149, 1166)

### Filter rows by output outliers

Thresholds are somewhat arbitrary, based on inspection

In [66]:
# TODO: remove outliers for next_hba1c, glucose, gfr
row_has_na = combined_table_mets_set_zeros[selected_met_cols].isna().any(1)
items_to_exclude = {'HbA1C', 'GLUCOSE', 'GFR', 'INSULIN'}
upper_bounds = {'HbA1C': 12, 'GLUCOSE': 200, 'GFR': 200, 'INSULIN': 60}
lower_bounds = {'HbA1C': 0, 'GLUCOSE': 0, 'GFR': 0, 'INSULIN': 0}

for k in items_to_exclude:
    item_data = combined_table_mets_imputed[chems_to_column[k]]
    mean = np.mean(item_data)
    std = np.std(item_data)
    row_has_na = row_has_na | (item_data > upper_bounds[k]) | (item_data < lower_bounds[k])
    item_data = combined_table_mets_set_medians['next_' + k]
    mean = np.mean(item_data)
    std = np.std(item_data)
    row_has_na = row_has_na | (item_data > upper_bounds[k]) | (item_data < lower_bounds[k])

combined_table_imputed_outliers = combined_table_mets_imputed[~row_has_na]
combined_table_mets_zeros_times_outliers = combined_table_mets_set_zeros[~row_has_na]

In [67]:
combined_table_imputed_outliers.shape

(1131, 1166)

### Create data arrays for training/stats

In [68]:
#  try taking only the first patient?
first_items = []
prev_client = None
for c in combined_table_imputed_outliers.public_client_id:
    if c == prev_client:
        first_items.append(False)
    else:
        prev_client = c
        first_items.append(True)
first_items = np.array(first_items)

combined_table_imputed_outliers = combined_table_imputed_outliers[first_items]
combined_table_mets_zeros_times_outliers = combined_table_mets_zeros_times_outliers[first_items]

In [69]:
print(combined_table_imputed_outliers.shape)

(1131, 1166)

#### Convert deltas to discrete values for classification

In [84]:
for key, val in chems_to_column.items():
    if key != 'GFR':
        pos = (combined_table_imputed_outliers['d_'+key] >= combined_table_imputed_outliers[val]*0.05)
        neg = (combined_table_imputed_outliers['d_'+key] < combined_table_imputed_outliers[val]*0.05)
    else:
        pos = (combined_table_imputed_outliers['d_'+key] <= combined_table_imputed_outliers[val]*-0.05)
        neg = (combined_table_imputed_outliers['d_'+key] > combined_table_imputed_outliers[val]*-0.05)
    combined_table_imputed_outliers['d_' + key + '_class'] = np.zeros(pos.shape) + pos
    combined_table_imputed_outliers['d_' + key + '_class'][combined_table_imputed_outliers['d_'+key].isna()] = pd.NA

In [85]:
for key, val in chems_to_column.items():
    if key != 'GFR':
        pos = (combined_table_imputed_outliers['d_1y_'+key] >= combined_table_imputed_outliers[val]*0.05)
        neg = (combined_table_imputed_outliers['d_1y_'+key] < combined_table_imputed_outliers[val]*0.05)
    else:
        pos = (combined_table_imputed_outliers['d_1y_'+key] <= combined_table_imputed_outliers[val]*-0.05)
        neg = (combined_table_imputed_outliers['d_1y_'+key] > combined_table_imputed_outliers[val]*-0.05)
    combined_table_imputed_outliers['d_1y_' + key + '_class'] = np.zeros(pos.shape) + pos
    combined_table_imputed_outliers['d_1y_' + key + '_class'][combined_table_imputed_outliers['d_1y_'+key].isna()] = pd.NA

## Saving table, saving variable lists

In [86]:
!mkdir results_2023_10_18

mkdir: cannot create directory â€˜results_2023_10_18â€™: File exists

In [87]:
combined_table_imputed_outliers.to_csv('results_2023_10_18/combined_data_table.csv', index=None)

In [88]:
# save lists of chems, prots, mets
np.savetxt('results_2023_10_18/selected_columns_full.txt', selected_columns_full, fmt='%s')
np.savetxt('results_2023_10_18/chem_subset_cols.txt', chem_subset_cols, fmt='%s')
np.savetxt('results_2023_10_18/selected_chem_bp_cols.txt', selected_chem_bp_cols, fmt='%s')
np.savetxt('results_2023_10_18/selected_prot_cols.txt', selected_prot_cols, fmt='%s')
np.savetxt('results_2023_10_18/selected_met_cols.txt', selected_met_cols, fmt='%s')

## Aggregate data statistics

In [89]:
combined_table_imputed_outliers.agg({'age': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'bmi': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'GLYCOHEMOGLOBIN A1C': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'GLUCOSE': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'GFR, MDRD': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'INSULIN': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'HOMA-IR': ['count', 'min', 'mean', 'median', 'max', 'std'],}).T.style.format(precision=2)

In [90]:
combined_table_imputed_outliers.agg({'d_HbA1C': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'd_GLUCOSE': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'd_GFR': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'd_INSULIN': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'd_HOMA-IR': ['count', 'min', 'mean', 'median', 'max', 'std'],}).T.style.format(precision=2)

In [91]:
combined_table_imputed_outliers.agg({'d_1y_HbA1C': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'd_1y_GLUCOSE': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'd_1y_GFR': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'd_1y_INSULIN': ['count', 'min', 'mean', 'median', 'max', 'std'],
                    'd_1y_HOMA-IR': ['count', 'min', 'mean', 'median', 'max', 'std'],}).T.style.format(precision=2)